<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">


    <context:component-scan base-package="com.cmb">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="springContextHolder" class="com.cmb.util.SpringContextHolder"></bean>

    <bean id="aopTest" class="com.cmb.aop.AopTest"></bean>

    <!-- 配置开启@Aspect支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <cache:annotation-driven />

    <aop:config>
        <aop:aspect ref="aopTest">
            <aop:pointcut id="testAop" expression="execution(* *.prtRole(..))"/>
            <aop:before method="sayAopTestBefore" pointcut-ref="testAop"></aop:before>
            <aop:after method="sayAopTestAfter" pointcut-ref="testAop"></aop:after>
        </aop:aspect>
    </aop:config>

    <import resource="spring-mybatis.xml"></import>
    <import resource="spring-shiro.xml"></import>
    <import resource="spring-redis.xml"></import>

</beans>